body {
  background-color: #fff;
  color: #000;
  font-family: arial, sans-serif;
  font-size: small;
  line-height: 150%;
  margin: 24px 16px 8px;
  max-width: 800px;
}

h3, h4, h5 { 
  z-index: 5; /* Avoid falling behind other elements due to lowered position */
}

h1 {
  background-color: #e5ecf9;
  border-color: #3366CC;
  border-top: 1px solid;
  font-size: 130%;
}

h2 {
  border-bottom: 1px solid;
  border-color:  #ebebeb;
  font-size: 125%;
  margin-top: 1.5em;
}

h3 {
  font-size: 110%; 
  margin-top: 0.7em;
}
  
h4 {
  font-size: 100%;
  margin-top: .5em;
}
  
h5 {
  font-size: 100%;
  margin-top: 1em;
  margin-bottom: 0;
}

ol { 
  margin-top: 0px;
  margin-bottom: 8px;
}

li { 
  margin-top: 2px;
}

p {
  margin-bottom: 8px;
  margin-top: 8px;
}

table {
  border-collapse: collapse;
  border-color: #3366CC;
  border-spacing: 0;
  border-width: 1px;
  border-style: solid;
  clear: right;
  margin: 1em 0 0 26px;
}

pre {
  margin-left: 2em;
}

.warning { 
  background-color: #f9edbe;
  padding: 6px;
}
