body {
  font-family: Arial, sans-serif;
  padding-left: 10px;
  width: 900px;
}
p.intro {
}
h2 {
  background: #C0C0FF;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 1px 3px;
}
h3.required {
  background: #C0C0FF;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 1px 3px;
}
h3.output {
  background: #A0A0E0;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 1px 3px;
}
h4.option {
  background: #E0E0E0;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 1px 3px;
}
input[type='button'].config {
  width: 100%;
  height: 45px;
  font-size: 100%;
  font-weight: bold;
}
input.short-input {
  width: 50px
}
img {
  width: 19px;
  height: 16px;
}
td.colList {
  background-color:#F0F0F0;
  font-family: Courier, sans-serif;
}
td#visualization {
  border: 1px;
}
textarea {
  font-size: 12px;
}
textarea#chartiframe {
  width:99%;
  height:120px;
}
textarea#chartURL {
  width:99%;
  height:100px;
}
textarea#htmlCode {
  width:99%;
  height:600px;
}
.goog-zippy-expanded img {
  background-image: url('images/minus.png');
}
.goog-zippy-collapsed img {
  background-image: url('images/plus.png');
}
